@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('./../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Myriad Pro Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
