@import "./shared.scss";
.portfolio {
    width: 100%;
}
.project_main_container ol, ul {
    list-style: none;
    line-height: 0;
    padding: 0;
}

.project_main_container {
    width: 100%;
}
.project_container {
    float: left;
    width: 25%;
    background-size:cover;
    overflow:hidden;
}
.project_image {
    width: 100%;
}

.project_media {
    position:relative;
}

.project_media h1 {
    
    display: block;
    text-align:center;
    position:absolute;
    
    top:50%;
    width:100%;
    transform:translate(0%,-50%);
    -webkit-transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    

    font-family: $font1;
    text-transform:uppercase;
    display:none;

    font-size: 24px;
    font-weight: 900;
    font-weight: bold;
    font-style: normal;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: linear-gradient(to top, $salmon-dark, $salmon);

    font-size: 24px;


    a {
        padding: 0;
        margin: 0;

        border-radius: 50%;
        padding: 0 4px;
        margin-left: 10px;
        transform: translateX(50px);
        border: 2px solid $salmon;
    }
    
}

.project_container img {
    height: 100%;
    width: 100%;
}

.project_container:hover img {
    filter: brightness(0.3);
    -webkit-filter:brightness(0.3);
    -ms-filter:brightness(0.3);
}

.project_container:hover h1 {
    display:block;
}



@media only screen and (max-width : 375px) {
    /*row of 1 boxes*/
    .project_container {
        width: 100%;
    }
}

@media(max-width: 768px) {
    //row of 2 boxes
        .project_container{
            width: 50%;
        }
}



@media only screen and (min-width : 768px) {
    /*row of 3 boxes*/
    .project_container {
        width: 33.3333333333333333333333333333333333333333%;
    }
}

@media only screen and (min-width : 1024px) {
    /*row of 4 boxes*/
    .project_container {
        width: 25%;
    }
}


.grid__title__hover {
    all: initial;
}
