//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//var colors
$charcoal-light-grey: #3a424c;
$charcoal-grey: #3d454f;
$grey: #38404a;


$salmon: #ff6868;
$salmon-dark: #a64c58; 

$white: white;
$red: red;
$black: black;
//footer grey scale colors for e.g. title footer
$lighter-grey: #b2b4b4;
$darker-grey: #848484;
$hr-grey: #49515c;

//header
    //gradient
$header-darker: #333b45;
$header-lighter: #3d454f;
    //links
$header-link: white;
    //bg hover menu
$header-hover-menu-background: white;
$header-hover-menu-link: black;

    //pricing 
$border-pricing-card: #f5f7f9;
$background-pricing-card: white;
$pricing-list-color: #99a0a8; 

    //service
$service-list-color: #9aa0a8;
    //last twitter post
$twitter-last-color: white;
$twitter-last-hour: #838a93;
//others colors
$button-text: white;

$inputs: #f5f7f9;
$input-placeholder: #a2a2a2;

$font1: "Roboto";
$font2: "Myriad Pro Regular";
//buttons
.btn{
    border: none;
    text-align: center; 
    width: 102px;
    height: 46px;
    border-radius: 8px;
    font-family: $font1;
    text-transform: uppercase;

    &:hover{
        cursor: pointer;
    }

    
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $button-text;

    margin: 15px 0 !important;
}

.primary{
    background-color: $salmon;
}


h1 {
    font-family: $font1;
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-light-grey;
    padding: 20px;
    margin: 0 0 91 0;
    text-align: center;
}

h2 {
    font-family: $font1;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-light-grey;
}

//others
.clear_both {
    clear: both;
}
