.twitter {
    margin: 50px 0;
    height: auto;
    width: 100%;

    background-image: linear-gradient(135deg, #38404a, #3d454f);
}

.twitter__wrapper {
    max-width: 942px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .twitter__last__post {
        width: 50%;
        max-width: 942px;

        font-size: 18px;
        text-align: center;
        margin: 1rem 1rem 0 1rem;
    }

    p{  
        color: white;
    }

    span {
        color: #838a93;
    }
}

.twitter_time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twitter_icon_wrapper{
    width: 38px;
    height: 36px;

    border-radius: 50%;
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 25px;
    background-image: linear-gradient(to top, #3d454f, #ff6868);
}

.twitter_icon{
    color: #3d454f;
}